html, body {
    height: 100%;
}

/* HEADER SECTION */


header {
    margin-top: 2%;
    /*border: 5px solid red;*/



}

.line-up {
}

.phone {
    /*display: inline;*/
    /*float: left;*/
    /*float: left;*/


}

.header-text {
    color: #898989;
}


.search-area {
    /*border: 5px solid red;*/
    /*margin-top: 5px;*/
}


.site-text {
    font-size: 1.8em;
    margin-left: 10px;
    color: #898989;
    font-family: 'Ranga', cursive;

}


.separator {
    margin-top: 10px;
}

.test {
    border: 5px solid red;
}
.green {
    color: #58bd91;
}

.shopping-cart {
    /*border: 5px solid red;*/
}

    .shopping-cart p{
        margin-top: -30px;
        margin-left: 0px;
        /*float: right;*/


    }

    .shopping-cart i {
        /*margin-right: 100px;*/
        /*float: right;*/
    }

/*  NAV SECTION*/

#menu {
    float: right;
    /*border: 5px solid red;*/
    display: inline-block;
    /*position: relative;*/

}

.menu-item {
    float: left;
    /*border: 5px solid red;*/


}

    .menu-item i {
        text-align: center;
    }

    #menu i {
        /*margin-left: 5%;*/
    }

 #logo {
     height: 100%;
     display: inline;
     /*border: 5px solid red;*/
 }

    #logo img {
        height: 35px;
        width: auto;
        float: left;
    }

    #logo h1 {
        float: left;
        font-family: 'Ranga', cursive;
        margin-top: 0px;
        margin-left: 15px;

    }


    #menu i {
        /*margin-left: 50px;*/
    }
 #nav-menu {
     display: inline;
     float: right;

 }

    #nav-menu li {
        float: left;
        list-style-type: none;
        /*margin-left: 35px;*/
    }

    #nav-menu li:nth-child(1) {
        margin-left: 45px;
    }

    #nav-menu li:nth-child(2) {
        margin-left: 50px;
    }

    #nav-menu li:nth-child(3) {
             margin-left: 35px;
    }
    #nav-menu li:nth-child(4) {
        margin-left: 25px;
    }


    /*  CAROUSEL */

#myCarousel {
    background-color: #58bd91;
}

.carousel-details {
    float: right;
    color: white;

}

.image-carousel {
    float: left;
}

.gray {
    color: darkgrey;
}


#menu-choices {
    /*border: 5px solid red;*/
    /*position: relative;*/
}

/*#menu-row {*/
    /*margin: 0;*/
    /*width: auto;*/

    /*border: 5px solid red;*/
/*}*/

    #menu-row h3{
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 12%;*/
        /*margin-top: -45px;*/
        /*width: 100%;*/
        /*color: white;*/
        /*font-size: 30px;*/
        /*text-align: center;*/

        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*display: inline-block;*/
        /*margin-top: -45px;*/
        /*padding: 5px 0;*/
        /*font-size: 60px;*/
        /*font-family: 'Open Sans Condensed', sans-serif;*/
        /*font-weight: 700;*/
        /*text-align: center;*/
        /*color: #fff;*/
        /*text-shadow: 1px 1px 5px rgba(0,0,0,0.3);*/

    }



.menu-img-container {
    position: relative;
    /*border: 5px solid red;*/
    /*margin-right: 30px;*/
    /*margin-left: 60px;*/
    /*border: 5px solid red;*/
}

    .menu-img-container h3 {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        display: inline-block;
        margin-top: -45px;
        padding: 5px 0;
        font-size: 30px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

        /*border: 5px solid red;*/

    }

.menu-img {
    /*margin-left: 60px;*/
    /*margin-right: 30px;*/
}

.bar {
    position: absolute;
    top: 30%;
    /*border: 3px solid red;*/
    left: 30%;
    width: 160px;

}

.line-red {

    border: 3px solid #f75353;
    /*background-color: #f75353;*/
}

.line-green {
    border: 3px solid #51d466;
    /*background-color: #51d466;*/
}
.line-blue {
    border: 3px solid #32c8de;
}

.menu-details {
    margin-top: 30px;
    /*margin-bottom: 20px;*/
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 12px 15px;
    /*border: 5px solid red;*/


}

.dashed-border {
    border-bottom: 1px dashed rgba(0,0,0,0.15);
    /*border: 5px solid red;*/
    /*width: 100%;*/
    margin-left: -50px;
    margin-right: -15px;


}

    .menu-details li {
        list-style-type: none;
        /*border-bottom: 1px dashed rgba(0,0,0,0.15);*/
        padding-top: 10px;
        /*border: 5px solid red;*/



    }

    .menu-details i {
        margin-left: 10px;
        margin-right: 10px;
    }

.menu-list-item {
    color: #fff;

}

    .menu-list-item a {
        color: #fff;
    }

.bg-red {
    background-color: #f75353;
}

.bg-green {
    background-color: #51d466;
}

.bg-blue {
    background-color: #32c8de;
}

.pull-right {
    float: right;
    padding-right: 10px;
}


/*  CONTACT SECTION */

.contact-child {
    /*border: 5px solid red;*/


}

    .contact-child h3 {
        font-family: 'Raleway', sans-serif;

    }


    .contact-child img:not(.famous-dishes) {
        width: 20%;
    }

    .contact-child button {
        margin: 15px;
    }

    .contact-child i {

    }

    .contact-child input {
        margin: 10px;
    }

.famous-dishes {
    width: 50%;
}

/*.circle-icon {*/
    /*background: #ffc0c0;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*border-radius: 50%;*/
    /*text-align: center;*/
    /*line-height: 100px;*/
    /*vertical-align: middle;*/
    /*padding: 30px;*/
/*}*/


.icon-red-background {
    color: #f75353;
}

.icon-green-background {
    color: #51d466;
}

.icon-blue-background {
    color: #32c8de;
}

.small-icons {
    font-size: 15px;
    color: white;
}

.marker-icon {
    float: left;
}


.contact-details {
    margin-top: 30px;
    margin-right: 50px;
    /*float: right;*/
}

    .contact-details p {
        /*margin-top: 1px;*/
        /*margin-bottom: 1px;*/
        padding: 0;
        font-size: 0.8em;
    }

.contact-row {
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    border: 5px solid white;
    padding: 0;
    margin: -5px;
}

.hr-fix {
    margin-bottom: 0;
    padding-bottom: 0;
}


/*

*/
/*.circle {*/
    /*margin-left: 0px;*/
    /*float: left;*/
/*}*/


/* MEDIA QUERIES */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }




